
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #6D6D6D;
	overflow: auto;
	scrollbar-face-color:#b46868;
}
textarea{
	border:none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance:none;
	appearance:none;
}
a{
	text-decoration: none;
	color:black;
}
a:visited{
	color:orchid;
}
a:link{color:blue;}
a:active{color:pink;}
a:hover{color:olive;}
h1, h2, h3 {
	margin: 0;
	text-transform: lowercase;
	font-weight: normal;
	color: #008000;
}

h1 {
	letter-spacing: -1px;
	font-size: 32px;
}

h2 {
	font-size: 23px;
}

p, ul, ol {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 26px;
}


img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 15px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 15px;
}

/* Form */

form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

legend {
	display: none;
}

input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	padding:5px;
	border-radius:5px;
}


#wrapper {
	background: #7ACF00 url(../images/bg1.png);
}

/* Header */

#header {
	width: 900px;
	/*height: 80px;*/
	margin: 0 auto 20px auto;
	padding-top: 10px;
}

#logo {
	float: left;
	height: 120px;
	margin-left: 30px;
}

#logo h1 {
	font-size: 38px;
	color: #3399CC;
}

#logo h1 sup {
	vertical-align: text-top;
	font-size: 24px;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo h2 {
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0;
	padding: 28px 0 0 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	margin-left: 5px;
	background: #6AB000;
	padding: 7px 10px;
	text-decoration: none;
	font-size: 15px;
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .active a {
}

/* Page */

#page {
	width: 900px;
	margin: 0 auto;
	padding: 20px 20px;
}

/* Content */

#content {
	float: left;
	width: 590px;
	padding:3rem 0;
}

/* Post */

.post {
}

.post .title {
	margin-bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 10px solid #EDEDED;
}

.post .entry {
}

.post .meta {
	margin: 0;
	padding: 0 0 60px 0;
	background: url(../images/bg3.png) repeat-x left 30%;
}

.post .meta p {
	margin: 0;
	line-height: normal;
}

.post .meta .byline {
	float: left;
	color: #0000FF;
}

.post .meta .links {
	float: left;
}

.post .meta .more {
	width: 185px;
	height: 35px;
	padding: 5px 0px 5px 0px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
}

.post .meta .comments {
	padding: 5px 0px 5px 0px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
}

.post .meta b {
	display: none;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 230px;
}

#sidebar ul {
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 40px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
	padding: 3px 0;
	border-bottom: 1px dashed #D1D1D1;
}

#sidebar li li a {
	margin: 0;
	padding-left: 25px;
	background: url(../images/bg3.png) no-repeat left 50%;
}

#sidebar h2 {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 10px solid #EDEDED;
	font-size: 18px;
	font-weight: normal;
}

#sidebar a {
	text-decoration: none;
	color: #6D6D6D;
}

/* Search */

#search {
}

#search h2 {
	margin-bottom: 20px;
}

#s {
	width: 150px;
	margin-right: 5px;
	padding: 3px;
	border: 1px solid #F0F0F0;
}

#x {
	padding: 3px;
	background: #ECECEC url(../images/bg3.png) repeat-x left bottom;
	border: none;
	text-transform: lowercase;
	font-size: 11px;
	color: #4F4F4F;
}

/* Boxes */

.box1 {
	padding: 20px;
	background: url(../images/bg4.png) no-repeat;
}

.box2 {
	color: #BABABA;
}

.box2 h2 {
	margin-bottom: 15px;
	background: url(../images/bg3.png) repeat-x left bottom;
	font-size: 16px;
	color: #FFFFFF;
}

.box2 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.box2 a:link, .box2 a:hover, .box2 a:active, .box2 a:visited  {
	color: #EDEDED;
}

/* Footer */

.footer {
	height: 4rem;
	min-height:4rem;
	line-height: 4rem;
	text-align:right;
	padding:0 3rem 0 0;
	background:#3B5998!important;
	color:#fff;
	font-family: Tahoma, Arial, Helvetica, sans-serif;

}


.manage-header-common{
	width:100%;
	height:5rem;
}
#legal {
	clear: both;
	padding-top: 20px;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #353535;
}

#legal a {
	font-weight: bold;
	color: #FFFFFF;
}

div.squar-num{
	display:inline-block;
	width:20px;
	height:20px;
	line-height:20px;
	border:2px solid #3B5998;
	margin:0 5px;
	text-align:center;'

}
.outer-wrapper{
	float:right;
	border-left:5px solid #3B5998;
	border-bottom: 5px solid #3B5998;
	background:url(../images/bg3.png);
}
div.logo{
	width:80px;
	height:80px;
	border:1px solid;
	display:inline-block;
	border-radius:50%;
	background:url(../images/umbrella.jpg) no-repeat;
	background-size:80px 80px;

}
td.theme{
	border-bottom:4px solid #fff;
}
td.theme h1{
	display:inline-block;
	color:#FFFFFF;
	margin:0 0 20px 20px;
}
.manage-ctrl{
	display:inline-block;
	/*width:12%;*/
	float:left;
	margin:2rem 0 0 1rem;
	/*padding:0 10px 1rem 10px;*/
}
.manage-ctrl p{
	border:1px solid #fff;
	height:50px;
	background:#fff;
	color:#3B5998;
	line-height: 50px;
}

.manage-ctrl p a:hover{
	background:#3B5998;
	color:#fff;
	line-height: 50px;
}
.manage-ctrl p a{
	display:block;
	/*width:100%;*/
	text-align:center;
	color:#3B5998;
	font-size:18px;
}
/*.click{*/
	/*display:block;*/
	/*width:100%;*/
	/*text-align:center;*/
	/*color:red;*/
	/*font-size:18px;*/
/*}*/

.scroll-com{
	/*background-color: #DCDCDC;*/
	/*border:3px solid red;*/
	display:inline-block;
	height:650px;
	overflow:scroll;

}

  ::-webkit-scrollbar {
	width: 15px;
}
  ::-webkit-scrollbar-track {
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
} /* 滚动条的滑轨背景颜色 */

  ::-webkit-scrollbar-thumb {
	  background-color: #b46868;
  } /* 滑块颜色 */

  ::-webkit-scrollbar-button {
	  background-color: #7c2929;
  } /* 滑轨两头的监听按钮颜色 */

	::-webkit-scrollbar-corner {
	  background-color: black;
  } /* 横向滚动条和纵向滚动条相交处尖角的颜色 */
.btn-submit input[type='submit']{
	width:80px;
	height:30px;
	border:none;
	background:#3B5998;
	color:#fff;
}
.container{
	width:100%;
	height:1024px;
	clear:both;
	background:url(../images/bg4.png);
	/*background: #3B5998;*/
	border-bottom:5px solid #3B5998!important;
	margin-top:3rem;
	padding:0 0 5rem 0;
}

td.inputs input{
	width:80%;
	height:25px;
	font-size:16px;
}

tr.manage-body{
	background:url(../images/bg3.png)!important;
}
tr.manage-body table{
	padding:0 0 2rem 0;
}


.bgclick{
	background:#3B5998;
	color:#fff;
}



.manage-outer-wrapper{
	margin:4rem 0 0 0;

}

.manage-outer-wrapper .pull-left{
	margin:0;
	height:60rem;
	background:#3B5998;
}
.manage-outer-wrapper p{
	margin:20px 0 0 0;

}
.manage-outer-wrapper .pull-right{
	display:inline-block;
	margin:0;
	overflow:auto;
}



/*后台登录*/



.end-wrapper{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:-1;
	background:url(../images/end_bg3.jpg);
	background-size:100% 200%;
}
.logo-header{
	position:relative;
	top:-20px;
	background:url(../images/end_bg2.jpg)no-repeat;
	width:90px;
	height:90px;
	z-index:100;
	margin:0 auto;
}
.end-login-title{
	color:#0D2338;
	text-align: center;
	margin:0 auto;
}
.end-main-contain{
	box-shadow:0 2px 2px 2px #0D2338;
	border-radius:5px;
	width:25%;
	/*height:500px;*/
	background:#fff;
	margin:150px auto;
}
@media (max-width:760px){
	.end-main-contain{
		width:85%;
	}

}
.end-main-contain .admin-name{
	width:70%;
	margin:20px auto;
	border: 1px solid #0D2338;
	overflow:hidden;
}
.end-main-contain .admin-name input{
	border:none;
	color:#000;
	width:100%;
	background:url(../images/user_logo.png)no-repeat 8px center;
	padding:10px 45px;
	font-size:16px;
}
/*   input[placeholder]{
       color:#000!important;
   }*/
p.user-tips{
	display:none;
	color:red;
}

.end-main-contain .admin-name input:focus[placeholder]{
	font-weight:bolder;
}

.end-main-contain .admin-pwd{
	width:70%;
	margin:20px auto;
	border: 1px solid #0D2338;
	overflow:hidden;
}
.end-main-contain .admin-pwd input{
	border:none;
	color:#000;
	width:100%;
	background:url(../images/key_logo.png)no-repeat 8px center;
	padding:10px 45px;
	font-size:16px;

}
.end-main-contain .admin-pwd input:focus[placeholder]{
	font-weight:bolder;
}
.end-login-btn{
	width:50%;
	height:50px;
	margin:0 auto;
}
.end-login-btn input[type='submit']{
	border:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-os-appearance:none;
	color:#fff;
	width:100%;
	height:40px;
	font-size:16px;
	background:#0D2338;
	border-radius: 5px;
}
.end-login-btn input[type='submit']:hover{
	background:#fff;
	color:#000 ;
	border:1px solid #0D2338
}